body {
    background-color: tan;
    padding: 15px;
    font-size: 20px;
}
#intro {
    text-align: center;
    background-image: url("ed.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 130px;
    line-height: 70px;
    height: 550px;
    font-size: 30px;
    color: lightyellow;
}
nav {
    text-align: right;
    width:100%;
  }
  nav ul li {
    display: inline-block;
    list-style:none;
    padding-right: 20px;
  }
  nav a {
    text-decoration: none;
  }
